.gifButn{

border-radius: 25px;
font-family: 'Permanent Marker', cursive;
color: gold;
background-color: black;
font-size: 20px;
}

#top{
    text-align: center;
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: gold;
    text-decoration: underline;
}

body{
    background-color: gold;
    font-family: 'Permanent Marker', cursive;
}

#gifDiv{
background-color: gold;
float:left;
display: inline;
padding-left: 40px;
width: 100px;
}

form{
    float:left;
background-color: gold;
font-size: 20px;
width: 300px;
font-family: 'Permanent Marker', cursive;
padding: 0 !important;
margin: 0 !important;
}

.buttons{
    padding-bottom: 50px;
    background-color: gold;
    padding-left: 100px;
}

#formBtn{
    color:gold;
    background-color:black;
    border-radius: 25px;

}

.container{
    padding: 0 !important;
    margin: 0 !important;
    height: 2000px;
}

.form-group col {
    padding: 0 !important;
    margin: 0 !important;

}

.new{
    float: left;
    font-family: 'Permanent Marker', cursive;
    display: inline;
}

.ajaxGifs{
    height: 200px;
    width: 300px;;
    font-size: 25px;
    display: inline;
    padding-left: 100px;
}

.rate {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-left: 75px;
    
}

#body {
    background-color: gold;
    padding: 0 !important;
    margin: 0 !important;
}